* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    font-size: 13px;
    min-width: 400px;
    height: 100vh;
}

.navbar {
    margin-top: 25px;
    padding: 0px 30px;
    min-width: 244px;
    display: flex;
    justify-content: flex-end;
}

.navbar div {
    padding-right: 15px;
}

a {
    cursor: pointer;
}

.feuille-verte {
    height: 14px;
    margin-right: 6px;
}
.lien :hover {
    text-decoration: underline;
    color: #6f7172;
}

.lien :visited {
    text-decoration: none;
}

.lien a {
    text-decoration: none;
    color: black;
}

.material-icons {
    margin-top: -4px;
}

.material-icons a {
    text-decoration: none;
    color: #6f7172;
}

.material-icons :visited {
    text-decoration: none;
}

.material-icons :hover {
    color: black;
}

.bouton {
    background-color: #1a73e8;
    margin-top: -7px;
    padding: 8px 22px;
    border-radius: 2px;
}

.bouton a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.nav input {
    width: 580px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-family: Arial;
    font-size: 17px;
    padding-left: 20px;
}

.nav {
    position: relative;
}
.input-img {
    position:absolute;
    top: 50%;
    margin-left:-530px;
    transform: translate(-50%, -50%);
    width:20px;
    height:20px;
}

.input-img2 {
    position:absolute;
    top: 50%;
    margin-right:-546px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    width:24px;
    height:24px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.nav :hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

input:focus,
textarea:focus {
    outline: none;
}

button a {
    text-decoration: none;
    color: #5f6368;
}

.bouton-rech button {
    color: #5f6368;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    background-color: #F7F7F7;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    margin: 30px 4px;
}

.bouton-rech {
    display: flex;
    justify-content: center;
}

.bouton-rech :hover {
    border: 0.5px solid #a1a1a1;
    color: black;
}

footer {
    margin-top: 12%;
    width: 100%;
}

.pays {
    color: #5f6368;
    font-size: 14px;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    background-color: #F2F2F2;
    height: 20px;
}

.liens {
    color: #5f6368;
    font-size: 14px;
    padding: 20px 0;
    background-color: #F2F2F2;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liens div {
    display: block;
    padding: 0 15px;
    white-space: nowrap;
}

.liens a {
    color: #5f6368;
    text-decoration: none;
}

.liens a:hover {
    text-decoration: underline;
}
